<style>
    .container{
        max-width: 1000px;
        margin: 0 auto 0;
        padding: 20px 10px;
        color: #333;
    }
    .container>div{
        margin-top: 10px;
    }
    .container>div.step{
        margin-top: 30px;
    }
    .code{
        margin: 5px 0;
        padding: 10px;
        background: #fff;
        border: 1px solid #eddeed;
        border-radius: 5px;
    }
</style>
<div class="container">
    <div>
        <b>RouteNow</b> is a small library that will help you in developing a SinglePage Application without any dependencies like jQuery, AngularJs, vue.js or any of those bulky frameworks.
    </div>
    <div>
        Installating RouteNow.js is as easy as it gets.
    </div>
    <div class="step">
        Add the script to the end of your body
        <div class="code">
            &lt;script src="../pathto/route-now.js"&gt;&lt;/script&gt;
        </div>
    </div>
</div>