<div class="container">
    <div>
        <b>RouteNow</b> is a small library that will help you in developing a SinglePage Application without any dependencies like jQuery, AngularJs, vue.js or any of those bulky frameworks.
    </div>
    <div>
        Installating RouteNow.js is as easy as it gets.
    </div>
    <div class="step">
        Add the script to the end of your body
        <div class="code" data-language="html" data-scroll>
            &lt;script src="../pathto/route-now.js"&gt;&lt;/script&gt;
        </div>
    </div>
    <div>
        Now add the Router outlet where you want your views to be populated
        <div class="code" data-language="html" data-scroll>
            &lt;div router-outlet&gt;&lt;/div&gt;
        </div>
    </div>
    <div>
        Finally, map the paths to your templates and you are done.
        <div class="code js" data-language="js" data-scroll>
            $Router.config([<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;{path:'home',templateUrl:'partial/home.html'},<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;{path:'options',templateUrl:'partial/options.html'},<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;{path:'about',templateUrl:'partial/about.html'},<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;{path:'thankyou',templateUrl:'partial/thankyou.html'},<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;{otherwise:'home'}<br/>
            ]);<br/>
        </div>
    </div>
</div>
